[submodule "blog"]
	path = blog
	url = git@github.com:lewislau86/blog.git
[submodule "public/lewislau86.github.io"]
	path = public/lewislau86.github.io
	url = git@github.com:lewislau86/lewislau86.github.io.git
